@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-video::-webkit-media-controls,
.custom-video::-webkit-media-controls-enclosure,
.custom-video::-webkit-media-controls-overlay-play-button,
.custom-video::-webkit-media-controls-start-playback-button,
.custom-video::-webkit-media-controls-play-button,
.custom-video::-webkit-media-controls-panel,
.custom-video::-webkit-media-controls-button,
.custom-video::-webkit-media-controls-pause-button,
.custom-video::-webkit-media-controls-mute-button,
.custom-video::-webkit-media-controls-toggle-closed-captions-button,
.custom-video::-webkit-media-controls-volume-slider,
.custom-video::-webkit-media-controls-fullscreen-button,
.custom-video::-internal-media-controls-download-button,
.custom-video::-webkit-media-controls-timeline {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.price-line::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  transform: translateY(-50%);
  width: 100%;
}
