@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LogoFont';
  src: url('/THE LOGO FONT (DEMO).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
