@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-video::-webkit-media-controls,
.custom-video::-webkit-media-controls-enclosure,
.custom-video::-webkit-media-controls-overlay-play-button,
.custom-video::-webkit-media-controls-start-playback-button,
.custom-video::-webkit-media-controls-play-button,
.custom-video::-webkit-media-controls-panel,
.custom-video::-webkit-media-controls-button,
.custom-video::-webkit-media-controls-pause-button,
.custom-video::-webkit-media-controls-mute-button,
.custom-video::-webkit-media-controls-toggle-closed-captions-button,
.custom-video::-webkit-media-controls-volume-slider,
.custom-video::-webkit-media-controls-fullscreen-button,
.custom-video::-internal-media-controls-download-button,
.custom-video::-webkit-media-controls-timeline,
.custom-video::-webkit-media-controls-current-time-display,
.custom-video::-webkit-media-controls-time-remaining-display,
.custom-video::-webkit-media-controls-seek-back-button,
.custom-video::-webkit-media-controls-seek-forward-button,
.custom-video::-webkit-media-controls-picture-in-picture-button {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-appearance: none !important;
  width: 0 !important;
  height: 0 !important;
  pointer-events: none !important;
}

.custom-video::-moz-media-controls {
  display: none !important;
}

.custom-video::-ms-media-controls {
  display: none !important;
}

.custom-video::-o-media-controls {
  display: none !important;
}

.price-line::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  transform: translateY(-50%);
  width: 100%;
}